@model FaiscaMcQueen_Transportes.ViewModels.DefinirPasswordViewModel

<div class="container mt-5">
    <h2>Bem-vindo! Defina a sua palavra-passe.</h2>
    <hr />

    <form asp-action="DefinirPassword" method="post">
        
        <!-- Os campos escondidos que transportam a chave dourada e o email -->
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Token" />

        <div class="form-group mb-3">
            <label>Nova Palavra-passe</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label>Confirmar Palavra-passe</label>
            <input asp-for="ConfirmarPassword" class="form-control" />
            <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Palavra-passe e Entrar</button>
    </form>
</div>
